:root {
    --text-color: rgb(0, 0, 0);
    --text-background-color: rgb(255, 255, 255);
    --link-color: rgb(191, 97, 97);
    --body-background-color: rgb(248, 248, 248);
    --body-top-border-color: var(--link-color);
    --border-color: rgb(226, 226, 226);
}

/* @media (prefers-color-scheme: dark) { */
/*     :root { */
/*         --text-color: #eceff4; */
/*  	--text-background-color: #2e3440; */
/* 	--body-background-color: #3b4252; */
/* 	--border-color: #3b4252; */
/*     } */
/*     object { */
/*         background: var(--text-color); */
/*     } */
/* } */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--body-background-color);
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6em;
    font-size: 1em;
    border-top: 0.2em solid var(--body-top-border-color);
}

a {
    color: var(--link-color)
}

#wrapper {
    background: var(--text-background-color);
    padding: 60px 80px;
    margin: 0 auto 0 auto;
}

nav {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    float: none;
    clear: both;
}

nav > ul {
    padding: 0;
    list-style: none;
}

nav > ul > li {
    display: inline;
    border-right: 1px solid var(--border-color);
    padding: 0 1em;
}

nav > ul > li:first-child {
    padding-left: 0;
}

nav > ul > li:last-child {
    border-right: none;
}

#contentinfo {
    font-size: 0.8em;
    font-style: italic;
    padding: 1em 0;
    border-top: 1px solid var(--border-color);
}

#content > img,
#content > object {
    max-width: 100%;
    padding: 1em;
}

@media screen and (min-width: 1024px) {
    #wrapper {
        max-width: 800px;
    }
}

@media screen and (max-width: 1024px) {
    #wrapper {
        padding: 30px;
    }
}
